.last-border-bottom:last-child {
  border-bottom-width: 2px;
}

.check_animation > path {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  animation: stroke 0.5s ease forwards;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

.fade-in {
  animation: fade 1s ease forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
